<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head', {title: product.name}) %>

<body>

    <%- include('partials/headerNavbar') %>

    <main>
        <!-- artistica dali-search clase 61 -->
    </main>
    
</body>
</html>